span{
    margin: 20px;
    font-size: 30px;
    background-color: rgb(77, 77, 77);
    display:inline-block;
    width: 20%;
    height: 35px;
    border-radius: 5px;
}
button{
    margin: 5px;
    width: 20%;
}
.class1{
    text-align: center;
}

.text_through{
    text-decoration:line-through
}

h2{
    color: rgb(68, 67, 67);
}